# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Editor tool config
/.cursor/

# Local env files
.env*.local
.env.vercel
vercel.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
